<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heyri.myclass">

    <application
     android:allowBackup="true"
     android:icon="@mipmap/ic_launcher"
     android:label="@string/app_name"
     android:roundIcon="@mipmap/ic_launcher_round"
     android:supportsRtl="true"
     android:theme="@style/AppTheme">
     <activity android:name="com.heyri.myclass.DetailData"
     android:parentActivityName="com.heyri.myclass.DetailData"/>
     <activity android:name="com.heyri.myclass.UpdateData"
     android:parentActivityName="com.heyri.myclass.UpdateData"/>
     <activity
     android:name="com.heyri.myclass.DataMahasiswa"
     android:parentActivityName="com.heyri.myclass.DataMahasiswa" />
    <activity
     android:name="com.heyri.myclass.Informasi"
     android:parentActivityName="com.heyri.myclass.Informasi" />
     <activity
     android:name="com.heyri.myclass.InputData"
     android:parentActivityName="com.heyri.myclass.InputData" />
     <activity android:name="com.heyri.myclass.MainActivity">
     <intent-filter>
     <action android:name="android.intent.action.MAIN" />

     <category android:name="android.intent.category.LAUNCHER" />
     </intent-filter>
     </activity>
     </application>

     </manifest>
